*:focus {
  outline: solid 0.2rem #00f;
  outline-offset: 0.2rem;
}

body {
  margin: 2rem;
  line-height: 1.5;
}

body.ack {
  max-width: 30rem;
}

body.home {
  max-width: 40rem;
}

button {
  min-height: 44px;
  min-width: 44px;
  padding: 0.5rem;
  border: solid 0.2rem #c00;
  border-radius: 1rem;
  font-size: inherit;
  font-weight: 700;
  color: #fff;
  background-color: #c00;
}

button:hover {
  color: #000;
  border: solid 0.2rem #000;
  background-color: #fff;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: start;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin: 0.25rem 0 0 0;
}

html {
  font-size: 21px;
}

.indent {
  margin-left: 1rem;
}

input {
  font-size: inherit;
}

label:hover .label {
  background-color: #fdd;
}

.major {
  margin-top: 0.5rem;
  font-size: xx-large;
  font-weight: 700;
}

.more{
  margin-top: 0.25rem;
}

p {
  margin: 0.5rem 0;
}

pre {
  margin: 0 auto;
  text-align: center;
}

.rfloat {
  float: right;
}

section.even, section.odd {
  margin: 0.25rem;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

section.even {
  background-color: #f0f8ff;
}

section.odd {
  background-color: #f0f0f8;
}

span[role=status] {
  padding: 0 0.25rem;
  font-size: xx-large;
  background-color: white;
}
